<h2>Seed Database</h2>
<p>Create Role, admin account, user account</p>

<form method="post">
    <button class="btn btn-info" asp-action="FakeUser" type="submit" asp-controller="Database">Create</button>
</form>